/* Logo */
.logo {
  width: 20%;
  height: 20%;
}
.navbar-nav a,
.navbar-brand a {
  text-decoration: none;
}
.classA {
  text-decoration: none;
  color: #a2d5ab;
  font-weight: 800;
  font-size: 24px;
}

.boredMe {
  color: #d82148;
  font-weight: 800;
  font-size: 24px;
  font-style: italic;
}

.main {
  background-color: #a2d5ab;
  height: 90vh;
  display: flex;
  justify-content: center;
}
.activityCard {
  display: flex;
  align-items: center;

  justify-content:space-between;
  
}

.heart {
  font-size: 35px;
  color: rgb(182, 173, 173);
  margin-top: 7px;
  width: 70px;
  outline: none;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
}

.active, .delete{
  color: rgb(192, 39, 39);
}

.favorite {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #a2d5ab;
  height: 85vh;
  padding: 30px;
}

.delete{
  font-size:30px;
}