/* Logo */
.logo{
  width: 20%;
  height: 20%;
}
a{
  text-decoration: none;
  color: #051367;
  font-weight: 800;
  font-size: 24px;
}

.boredMe{
  color: #D82148;
  font-weight: 800;
  font-size: 24px;
  font-style: italic;
}